main { 
     min-height: 300px;
     min-width: 420px;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: #A4D3EE;
  padding: 5px 20px 0 5px;
}

header h1 {
  display: inline-block;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 72px;
  font-weight: 100;
  margin: 5px 20px;
  color: #302B54
}

header h1 a {
  color: inherit;
}

header h1 a:hover {
  text-decoration: none;
}

header h2 {
  display: inline-block;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 5px 20px;
}
header h2 a {
  color: black;
}

nav {
  background-color: #476A34;
  
  color: white;
   margin: 0 -20px;
  font-size: 28px;
  font-weight: 200;
}


.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

.navbar-item {
  display: inline;
}

.navbar-item a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
}

.navbar-item:hover a {
  background-color: #6B8E23;
}

.navbar-menu {
  position: relative;
}

.navbar-menu-list {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  padding: 0;
  list-style-type: none;
  z-index: 10;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
}

.navbar-menu-list,
.navbar-menu-list li {
  background-color: #444;
  height: 50px;
  
}

.navbar-menu:hover .navbar-menu-list {
  display: initial;
}

.navbar-menu-list li:hover,
.navbar-menu-list li:hover a {
  background-color: #565656;
}

.navbar-right {
  float: right;
}

#catalog-button {
  font-size: 22px;
  padding-right: 100px;
  cursor: pointer;

}

#catalog-button:hover {
    font-size: 25px;
  background-color: #6B8E23;

}
#count-button {
  font-size: 22px;
  cursor: pointer;

}

#count-button:hover {
     font-size: 25px;
 background-color: #6B8E23;
}

#inventory-select-button {
    font-size: 22px;
  float: right;
  cursor: pointer;

}

#inventory-select-button:hover {

 background-color: #6B8E23;
}



main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 100px 20px;
  min-height: 300px;
}

.multiply-button-container {
  position: absolute;
  top: 500px;
  left: 50px;
  z-index: 10;
  padding-left: 50px;
}

.undo-button-container {
  display: inline;
  position: absolute;
  left: 200px;
  z-index: 10;
}

.middle {
padding-left: 50px;
 border-radius: 10px;
 
}

#multiply-modal {
display:none;
position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;

}

.h3 .mult-close-button {
	display: inline;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.multiply-cancel-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.multiply-info {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.multiply-info label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.multiply-info input,
.multiply-info textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.multiply-info textarea {
  min-height: 64px;
}
























#multiply-count-button {
  width: 120px;
  height: 64px;
  background-color: #CCCC00;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border: 1.5px solid #333;
  color: white;
  font-size: 30px;
  font-weight: 200;
  padding: 0 0 8px 0;
  cursor: pointer;
  outline: none;
}
#multiply-count-button:hover {
  background-color: #FFE303;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5);
}

#undo-button {
  width: 120px;
  height: 64px;
    background-color: #B22222;

  border:  1.5px solid #333;
  border-radius: 10px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  
  color: white;
  font-size: 30px;
  font-weight: 200;
  padding: 0 0 8px 0;
  cursor: pointer;
  outline: none;
}
#undo-button:hover {
background-color: red;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5);
}



.add-count-button-container {
  position: absolute;
  top: 370px;
  left: 180px;
  z-index: 10;
}

.search-button-container {
  position: absolute;
  top: 370px;
  left: 50px;
  z-index: 10;
}

.searchclass {
                position: absolute;
                top: 300px;
               	left:  75px;
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:3px solid #dbdbdb
		border-color: blue;	
}


#search-button {

  width: 100px;
  height: 64px;
  background-color: black;
  border: none;
  border-radius: 10px;
  border: 1px solid #333;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 30px;
  font-weight: 200;
  padding: 0 0 8px 0;
  cursor: pointer;
  outline: none;
}
#search-button:hover {
  background-color: #696969;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5);
}


#add-count-button {
  width: 120px;
  height: 64px;
  background-color: #0000CD;
  border: none;

  border-radius: 10px;
  border: 1px solid #333;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 25px;
  font-weight: 200;
  padding: 0 0 8px 0;
  cursor: pointer;
  outline: none;
}

#add-count-button:hover {
  background-color: #4169E1;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.33);
}





footer {
  position:absolute;
  bottom: 0px;
  right: auto;
width: 100%;
  background-color: #333;
  color: white;
}

footer .copyright {
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 25px;
  font-weight: 200;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 1);
}

.mult-close-button {
	display: relative; 
	top: -20px;
	left: 100px;
	background-color: black;
}

#mult-box{

border:4px solid black;
}


#multiply-item-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
  border: 2px solid black;
}



.multhidden { 
  display: none;
}

.modal-header {
  background-color: #D3D3D3;
  border-style: solid;
  border-width: thin;
  border: black;
}

.modal-dialog {
background: black;

}


.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .mult-ok-button {

	font-size: 20px;
}

.modal-footer .mult-cancel-button {
	background-color: #ff3333;
}

.modal-footer .mult-cancel-button:hover {
  background-color: #ffb3b3;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5);

}

.modal-footer .mult-ok-button {
  background-color: #2464f5;
  color: #fff;
}

.modal-footer .mult-ok-button:hover {
  background-color: #5481e4;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5)
}



#search-item-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}
.hidden {
  display: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5);

}

.modal-footer .modal-search-button {
  background-color: #2464f5;
  color: #fff;
}

.modal-footer .modal-search-button:hover {
  background-color: #5481e4;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5)
}


#item-count-modal {
 position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
  border: 2px solid black;
  border-radius: 8px;
}

.modal-dialog {
border-radius: 5px;
border: 3px solid black;
}

.counthidden {
  display: none;
}



.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .mult-ok-button {

	font-size: 20px;
}

.modal-footer .mult-cancel-button {
	background-color: #ff3333;
}

.modal-footer .mult-cancel-button:hover {
  background-color: #ffb3b3;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5);

}

.modal-footer .mult-ok-button {
  background-color: #2464f5;
  color: #fff;
}

.modal-footer .mult-ok-button:hover {
  background-color: #5481e4;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5)
}

#catalog-modal {
 position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
  border: 2px solid black;
  border-radius: 8px;
}

.modal-dialog {
border-radius: 5px;
border: 3px solid black;
}

.cataloghidden {
  display: none;
}



.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .mult-ok-button {

	font-size: 20px;
}

.modal-footer .mult-cancel-button {
	background-color: #ff3333;
}

.modal-footer .mult-cancel-button:hover {
  background-color: #ffb3b3;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5);

}

.modal-footer .mult-ok-button {
  background-color: #2464f5;
  color: #fff;
}

.modal-footer .mult-ok-button:hover {
  background-color: #5481e4;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5)
}



#add-item-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.add-info {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.add-info label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.add-info input,
.add-info textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.add-info textarea {
  min-height: 64px;
}


.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5);

}

.modal-footer .modal-accept-button {
  background-color: #2464f5;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #5481e4;
  box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.5)
}

#catalog-list {
	font-size: 15px;
	line-height: 25px;
	list-style: none;
	max-height: 200px;
	width: 500px;
	margin: 0;
	overflow: scroll;
	padding: 0; 

}

.li {
		border-bottom: 2px solid #aaa;
}

#list-header {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 3px solid #aaa;
	padding-bottom: 5px;
}


